{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row my-5 d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <img class="img img-fluid"
                         src="{{ asset('assets/images/cloud.svg') }}"
                         alt="Login">
                    <div class="card-body close text-center">
                        <a href="{{ idp_auth_link }}" class="btn btn-lg pc-btn">Log in with
                            PurpleClouds</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
